{{> main/header }}


<h1 class="ui blue header">{{name}}</h1>

<h1 class="ui white header">
  Domaine(s)
  <div class="ui label">
    {{#domain}}
    {{children.size}}
    {{/domain}}
  </div>
</h1>

<a class="ui button" href="/">Retour</a>

<div class="ui segment">
  <div class="ui four column stackable grid">
    {{#domain}}
    {{#children}}
    <div class="column">
      <h4>{{name}}
        <div class="sub header">{{providers.size}} providers</div></h4>
        <a class="ui button" href="../complaint/{{domain.name}}">{{complaints.size}} plaintes</a>
      <div class="ui label">{{complaints.size}}</div>
    </div>
    {{/children}}
    {{/domain}}
  </div>
</div>


{{> main/footer }}